/*
 * This file contains the common style configuration.
 */

/*
 * Center tables.
 */
.ctable {
    margin: 0 auto;
}

/*
 * Section container. This is used to keep a consistent layout with the same width for
 * all elements while centering them on the page.
 */
.section {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

/*
 * Columns with labels are aligned to the right.
 */
.tableColumnLabel {
    text-align: right;
    font-weight: bold;
}

/*
 * Columns with values are aligned to the left.
 */
.tableColumnValue {
    text-align: left;
}

/*
 * Increase the distance between the sections where applicable.
 */
#controlsSection, #outputSection {
    margin-top: 40px;
    margin-bottom: 40px;
}

/*
 * Increase the distance between the input form and the reset button.
 */
#resetInputButton {
    margin-top: 10px;
}

/*
 * Increase the distance between the control buttons.
 */
.controlButton {
    margin-right: 5px;
}

/*
 * Use a monospaced font for the output area.
 */
#outputArea {
    font-family: monospace;
}

/*
 * Mark cells containing the best match.
 */
.matchCell {
    background-color: yellow;
}

/*
 * A simple class to introduce some spacing, in this case 20px. This should usually
 * be used together with empty `div`s.
 *
 * In our case, this is used to introduce the required spacing needed for the length
 * display after a text input which has length limits.
 */
.spacing20px {
    margin-bottom: 20px;
}

/*
 * Visual indication when the limit specified by the `maxlength` property has been
 * reached.
 */
.limitReached {
    color: red;
    font-weight: bold;
}

/*
 * Set the given text in a monospaced font.
 */
.monospace {
    font-family: monospace;
}

/*
 * Center the title and add some spacing around it.
 */
h1 {
    text-align: center;
    margin: 50px;
}
