/*
 * Simulation of data compression with LZ78.
 *
 * This file contains the style configuration.
 */

/*
 * Display the dictionary entries in a monospaced font style.
 */
.dictionaryEntry {
    font-family: monospace;
}

/*
 * Set the width of the text area for the initial dictionary to approximately 100
 * characters.
 */
#initialDictionaryInput, #initialDictionaryOutputArea {
    width: 100ch;
}
