/*
 * Simulation of data compression with LZ77.
 *
 * This file contains the style configuration.
 */

/*
 * Set the width of the text area for the initial search buffer to approximately 80
 * characters.
 */
#initialSearchBufferInput {
    width: 80ch;
}

/*
 * Use a bold font style for the buffer labels.
 */
.bufferLabel {
    font-weight: bold;
}

/*
 * Draw a border between the search buffer and the look-ahead buffer.
 *
 * Please note the `!important` declaration as the line would be missing otherwise.
 */
.bufferBorder {
    border-right: 1px solid black !important;
}

/*
 * Decrease the font size for the offset labels of the search buffer.
 */
.offsetLabel {
    font-size: 10px;
}

/*
 * Display the content of the buffers in a monospaced font style.
 */
#windowContent {
    font-family: monospace;
}

/*
 * Draw a solid border around the content of the search buffer.
 */
.searchBuffer {
    border: 1px solid black !important;
}

/*
 * Draw a dashed border around the content of the look-ahead buffer.
 */
.lookAheadBuffer {
    border: 1px dashed black !important;
}
